<section data-ng-controller="HomeController" ng-init="addBgClass()">
	<div class="content-center">
			<div class="col-md-12">
				<p class="index-title text-center animated tada" data-ng-hide="authentication.user && hasWg"><strong>flatcact.us</strong></p>
				<span class="infotext animated fadeIn" data-ng-hide="authentication.user && hasWg">A nice webapp to manage your flat share.</span>

				<div class="index-links" data-ng-hide="authentication.user">
					<div class="btn" ui-route="/signup"><a class="btn btn-default btn-lg" href="/#!/signup">Sign Up</a></div>
					<div class="btn" ui-route="/signin"><a class="btn btn-default btn-lg" href="/#!/signin">Sign In</a></div>
				</div>

				<div class="index-links" data-ng-show="authentication.user && !hasWg">
					<div class="btn" ui-route="/signup" ng-class="{active: $uiRoute}"><a class="btn btn-default btn-lg" href="/#!/wgs/create">create flat-share</a></div>
					<div  class="btn" ui-route="/signup" ng-class="{active: $uiRoute}"><a class="btn btn-default btn-lg" href="/#!/wgs/join">join flat-share</a></div>
				</div>
		</div>
	</div>
	<div class="" id='dashboard' data-ng-controller="WgsController" data-ng-init="getUsers()" data-ng-if="authentication.user && hasWg">

				<div class="dash-col">
					<div class="item" id="motd">
						<div class="h3-pad-dash">
							<h3 class="h3-dash">Messages of the day</h3>
						</div>
						<div class="pad-dash-item-content">
							<div class="motd" data-ng-repeat="user in allUsers">
								<div class="user"><img ng-src="{{user.avatar}}" class="avatar" alt="profile"> </div>
								<div class="msg" ng-show="user._id != authentication.user._id " myclass={{user._id}}>{{user.motd}}</div>

								<input type="text" class="msg {{user._id}}" placeholder="Enter your message" ng-class="myclass" ng-show="user._id == authentication.user._id" ng-model="user.motd"
								ng-change="editMotd(user)"
								></input>

								<div class="notice" ng-show="user._id == authentication.user._id" ng-bind-html="motdStatus"></div>
								<br>
							</div>
						</div>
					</div>
					<div class="item" id="tasks" data-ng-controller="XtasklistsController" data-ng-init="findFromWg()">
						<div class="h3-pad-dash">
							<h3 class="h3-dash">Continuous Tasks</h3>
						</div>
						<div class="pad-dash-item-content">
							<div class="container">
								<div data-ng-repeat="xtasklist in tasks" class="motd">

										<img ng-src="{{xtasklist.crtUser.avatar}}" class="avatar avatar-float-left pad-right_10" alt="profile">
										<span>{{xtasklist.name}}</span>
									<p class="clearfix"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dash-col">
					<div class="item" id="todo" data-ng-controller="TodosController" data-ng-init="getAll()">
						<div class="h3-pad-dash">
							<h3 class="h3-dash">Todo list</h3>
						</div>
						<div class="pad-dash-item-content">
			        <div class="controls">
			            <input type="text" data-ng-model="name" id="name" class="msg" placeholder="New Todo" ng-keypress="($event.which === 13)?create(true):0" required>
			            <button class="btn btn-xs edit" id="create" ng-click="create(true)">Add</button>
			        </div>
							<div class="container">
								<div class="todo-items" ng-hide="">
						      <span data-ng-repeat="todo in todos track by $index" ng-class="{'todo-order': !todo.isDone, 'todo-order-done': todo.isDone}">
						        <input class="todo-input" id="{{'item' + $index}}" type="checkbox" ng-checked="todo.isDone" ng-click="setToDone($index, todo)">
						        <label class="todo-label" for="{{'item' + $index}}">{{todo.name}} <i ng-show="todo.isDone" class="todo-done_small"> done by <strong>{{todo.done_by}}</strong> {{todo.done_when | date:"dd.MM.yyyy (H:mm)"}}</i></label>
						      </span>

						      <h2 class="todo-h2 todo-undone" aria-hidden="true">Not Done</h2>
						      <h2 class="todo-h2 todo-done" aria-hidden="true">Done</h2>
						    </div>
							</div>
						</div>
					</div>
					<div class="item" id="shopping" data-ng-controller="ShoppinglistsController" data-ng-init="getAll()">
						<div class="h3-pad-dash">
							<h3 class="h3-dash">Shopping list</h3>
						</div>
						<div class="pad-dash-item-content">
			        <div class="controls">
								<input type="text" data-ng-model="name" id="name" class="msg" placeholder="Add Item" ng-keypress="($event.which === 13)?create(true):0" required>
		            <button class="btn btn-xs edit" id="create" ng-click="create(true)">Add</button>
			        </div>
					    <div class="container">
								<div class="todo-items" ng-hide="">
						      <span data-ng-repeat="shop in shoppinglists track by $index" ng-class="{'todo-order': !shop.isDone, 'todo-order-done': shop.isDone}">
						        <input class="todo-input" id="{{'shop' + $index}}" type="checkbox" ng-checked="shop.isDone" ng-click="setToDone($index, shop)">
						        <label class="todo-label" for="{{'shop' + $index}}">{{shop.name}} <i ng-show="shop.isDone" class="todo-done_small"> done by <strong>{{shop.done_by}}</strong> {{shop.done_when | date:"dd.MM.yyyy (H:mm)"}}</i></label>
						      </span>

						      <h2 class="todo-h2 todo-undone" aria-hidden="true">Not Bought yet</h2>
						      <h2 class="todo-h2 todo-done" aria-hidden="true">Bought</h2>
						    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="dash-col">
					<div class="item" id="weather">
						<div class="h3-pad-dash text-center">
				    	<h3 class="h3-dash">Weather</h3>
						</div>
						<div class="icon col-md-offset-2 col-md-8 text-center">
							<weather-icon cloudiness="{{ weather.clouds }}"></weather-icon>
							<span class="temps-city">{{ wg.city }}</span>
						</div>
						<div class="temps">
							<div class="col-md-12 text-center temps-all">
								<div class="col-md-4">
									<span class="temps-small">crt</span>{{ weather.temp.current | temp:2 }}
								</div>
								<div class="col-md-4">
									<span class="temps-small">min</span>{{ weather.temp.min | temp }}
								</div>
								<div class="col-md-4">
									<span class="temps-small">max</span>{{ weather.temp.max | temp }}
								</div>
							</div>
						</div>

					</div>
					<div class="item" id="clock">
						<div class="h3-pad-dash">
				    	<h3 class="h3-dash">Time</h3>
						</div>
						<div class="wrapper">
							<ds-widget-clock class="clock-hour" theme="dark" show-digital="true" digital-format="'hh'"></ds-widget-clock>
							<span class="time large">: </span>
							<ds-widget-clock class="clock-minutes" theme="dark" show-digital="true" digital-format="'mm a'"></ds-widget-clock>
							<p class="weekday">{{weekday}}</p>
							<p class="date">{{date}}</p>
						</div>
					</div>

					<div class="item" id="financial" ng-controller="BarCtrl" data-ng-init="getUsers()">
						<div class="h3-pad-dash">
							<h3 class="h3-dash">Financial overview</h3>
						</div>
						<div class="pad-dash-item-content">
							<canvas id="bar" class="chart chart-bar" data="data" labels="labels"></canvas>
						</div>
					</div>
				</div>
	</div>
</section>
