<section data-ng-controller="HomeController" ng-init="addBgClass()">
	<div class="content-center">
			<div class="col-md-12">
				<p class="index-title text-center animated tada" data-ng-hide="authentication.user && hasWg"><strong>flatcact.us</strong></p>
				<span class="infotext animated fadeIn" data-ng-hide="authentication.user && hasWg">A nice webapp to manage your flat share.</span>

				<div class="index-links" data-ng-hide="authentication.user">
					<div class="btn" ui-route="/signup"><a class="btn btn-default btn-lg" href="/#!/signup">Sign Up</a></div>
					<div class="btn" ui-route="/signin"><a class="btn btn-default btn-lg" href="/#!/signin">Sign In</a></div>
				</div>

				<div class="index-links" data-ng-show="authentication.user && !hasWg">
					<div class="btn" ui-route="/signup" ng-class="{active: $uiRoute}"><a class="btn btn-default btn-lg" href="/#!/wgs/create">create flat-share</a></div>
					<div  class="btn" ui-route="/signup" ng-class="{active: $uiRoute}"><a class="btn btn-default btn-lg" href="/#!/wgs/join">join flat-share</a></div>
				</div>
		</div>
	</div>
	<div class="" id='dashboard' data-ng-controller="WgsController" data-ng-init="getUsers()" data-ng-show="authentication.user && hasWg">

				<div >
					<p class="title">Share dashboard</p>
					<div class="dash-col">
						<div class="item" id="motd" >a</div>
						<div class="item" id="tasks" >b</div>
					</div>
					<div class="dash-col">
						<div class="item" id="todo" >c</div>
						<div class="item" id="shopping" >d</div>
					</div>
					<div class="dash-col">
						<div class="item" id="clock" >e</div>
						<div class="item" id="weather" >f</div>
						<div class="item" id="financial" >g</div>
					</div>
				</div>
	</div>
</section>
