<section data-ng-controller="HomeController" ng-init="addBgClass()">
	<div class="content-center">
			<div class="col-md-12">
				<p class="index-title text-center animated tada" data-ng-hide="authentication.user && hasWg"><strong>flatcact.us</strong></p>
				<span class="infotext animated fadeIn" data-ng-hide="authentication.user && hasWg">A nice webapp to manage your flat share.</span>

				<div class="index-links" data-ng-hide="authentication.user">
					<div class="btn" ui-route="/signup"><a class="btn btn-default btn-lg" href="/#!/signup">Sign Up</a></div>
					<div class="btn" ui-route="/signin"><a class="btn btn-default btn-lg" href="/#!/signin">Sign In</a></div>
				</div>

				<div class="index-links" data-ng-show="authentication.user && !hasWg">
					<div class="btn" ui-route="/signup" ng-class="{active: $uiRoute}"><a class="btn btn-default btn-lg" href="/#!/wgs/create">create flat-share</a></div>
					<div  class="btn" ui-route="/signup" ng-class="{active: $uiRoute}"><a class="btn btn-default btn-lg" href="/#!/wgs/join">join flat-share</a></div>
				</div>
		</div>
	</div>
	<div class="" id='dashboard' data-ng-controller="WgsController" data-ng-init="getUsers()" data-ng-show="authentication.user && hasWg">

				<div >
					<p class="title">Share dashboard</p>
					<div class="dash-col">
						<div class="item" id="motd">
							<h4>Messages of the day</h4>
						</div>
						<div class="item" id="tasks">
							<h4>Continous Tasks</h4>
						</div>
					</div>
					<div class="dash-col">
						<div class="item" id="todo">
							<h4>Todo list</h4>
						</div>
						<div class="item" id="shopping">
							<h4>Shopping list</h4>
						</div>
					</div>
					<div class="dash-col">
						<div class="item" id="clock">
							<div class="wrapper">
								<ds-widget-clock class="clock-hour" theme="dark" show-digital="true" digital-format="'hh'"></ds-widget-clock>
								<span class="time large">: </span>
								<ds-widget-clock class="clock-minutes" theme="dark" show-digital="true" digital-format="'mm a'"></ds-widget-clock>
							</div>
						</div>
						<div class="item" id="weather">
					    <h4>Weather in {{wg.city}}, {{wg.country}}</h4>
					    <weather-icon cloudiness="{{ weather.clouds }}"></weather-icon>
					    <h5>Current: {{ weather.temp.current | temp:2 }}</h5>
					    min: {{ weather.temp.min | temp }}, max: {{ weather.temp.max | temp }}
						</div>
						<div class="item" id="financial">
							<h4>Financial overview</h4>
						</div>
					</div>
				</div>
	</div>
</section>
