html {
	height: 100%;
}
.content {
	margin-top: 70px;
}

.container {
	height: auto;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

body{
	/*position: absolute;*/
	/*top:0;*/
	/*left:0;*/
	/*width: 100vw;*/
	/*height: 100vh;*/
	background: url(/modules/core/img/brand/bg_another.jpg) no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	/*overflow: hidden;*/
	/*background-size: cover;*/
	/*background-repeat: none;*/
	/*background-position: top center;*/
}

.navbar-inverse{
	background-image: none;
	background-color: #fffefd;
	border: none;
	-webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 9px 0 rgba(0,0,0,0.75);
	box-shadow: 0 0 9px 0 rgba(0,0,0,0.75);
}

.navbar-brand{
	height: 70px;
}

.navbar-toggle{
	padding-top: 18px;
	padding-bottom: 18px;
}

.navbar-nav > li > a, .navbar-brand{
	padding-top: 25px;
	padding-bottom: 25px !important;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
	text-shadow: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a{
	color: #181101;
	-webkit-transition: all 0.4s ease; /* Safari */
	transition: all 0.4s ease;
}


.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
	color: #df9006;
	background: #f9f9f9;
	cursor: pointer;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #A3A3A3;
}

.content-center{
	/*margin-left: 15%;*/
}

.index-title{
	margin-top: 20%;
	line-height: 1.1em;
	text-align: center;
	font-size: 4.5em;
	/* padding: 0 10%; */
	color: #ffffff;
	text-shadow: 0 0 20px rgba(0,0,0,0.9);
}

.infotext{
	display: block;
	text-align: center;
	font-size: 2.2em;
	line-height: 1.1em;
	padding: 0px 30% 30px 30%;
	color: #fff;
	text-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.index-links{
	text-align: center;
}

.index-btn{
	background-color: #fffefd;
}

.index-links .index-btn:hover{
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
}

.index-links .index-btn a{
	color: #5b3f27;
}

.index-links .index-btn a:hover{
	text-decoration: none;
}

.box{
	margin-top: 8%;
	width: 100%;
	padding: 15px;
}

.title{
	display: block;
	text-align: center;
	font-size: 2.5em;
	line-height: 1.1em;
	padding: 30px 30% 30px 30%;
	color: #000;
}

.col h3{
	text-align: center;
}

@media (min-width: 768px) {
  .toggle{
    width: 720px;
  }
}

@media (min-width: 992px) {
  .toggle{
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .toggle{
    width: 1140px;
  }
}

.color-black{
	color: #000;
}

.no-pad{
	padding: 0;
}

.btn-list-small{
	position: absolute;
	right: 15px;
	top: 15px;
}

.btn-list-small_before{
	position: absolute;
	right: 110px;
	top: 15px;
}

.glyphicon-remove{
	top: 2px;
}

.list-item-link{
  position: relative;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  color: #555;
}

.list-item-link:hover{
	color: #555;
	text-decoration: none;
	background-color: #f5f5f5;
}

/* animation between views */
.toggle {
	position: absolute;
	margin: 0 auto;
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}

/* line 66, ../sass/ng-animation.scss */
.toggle.ng-enter {
  opacity: 0;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
}
/* line 71, ../sass/ng-animation.scss */
.toggle.ng-enter-active {
  opacity: 1;
}
/* line 75, ../sass/ng-animation.scss */
.toggle.ng-leave {
  opacity: 1;
  transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
}
/* line 80, ../sass/ng-animation.scss */
.toggle.ng-leave-active {
  opacity: 0;
}
/* line 85, ../sass/ng-animation.scss */
.toggle.ng-hide-add {
  transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  opacity: 1;
}
/* line 89, ../sass/ng-animation.scss */
.toggle.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
/* line 94, ../sass/ng-animation.scss */
.toggle.ng-hide-remove {
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  display: block !important;
  opacity: 0;
}
/* line 99, ../sass/ng-animation.scss */
.toggle.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

/* short form cotrols */
.form-control.small {
	width: 5vw;
	float: left;
}

.form-control.currency {
	max-width: 15vw;
	float:left;
}

.mid-width {
	width: 25%;
}

#dashboard {
	width: 100%;
	height: 700px;
	padding: 8% 15px 30px 15px;
	padding-top: 4%; /* Change to margin-top for gap above dashboard */
	background: rgba(255,255,255,0.9);
	position: relative;

}

#dashboard .title {
	padding: 0 0 15px 0;
	font-size: 36px;
	font-weight: 500;
	color: rgb(51, 51, 51);
}

#dashboard .dash-col {
  /*-moz-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;*/
	height: auto;
  width: 100%;
	padding-left: 1%;

}
@media (min-width: 1200px) {
  #dashboard .dash-col {
		height: 500px;
		width: 33% ;
		float: left;
		box-sizing: border-box;
	}
}

#dashboard .dash-col .item {
  display: inline-block;
  width: 100%;
  background-color: rgba(54, 212, 155, 0.99);
	margin-top: 5px;
	box-sizing: border-box;
}

#motd {
	height: 30% !important;
}

#tasks {
	height: 70% !important;
}

#todo	{
	height: 50% !important;
}

#shopping	{
	height: 50% !important;
}

#clock {
	height: 30% !important;
	text-align: center;
	padding-top: 32px;
}

#clock .large{
	font-size: 2.5em;
	font-family: 'Syncopate',sans-serif;
	float: left;
	margin-right: 5px;
}

#clock .time {
	font-size: 4.0em;
	display: block;
}

#clock .wrapper {
	width: 70%;
	height: 50%;
	margin: auto;
	text-align: center;
	display: block;
}

.clock-hour {

}

.clock-minutes {

}

.widget-clock .digital {
	float: left;
}

#weather {
	height: 25% !important;
}

#financial {
	height: 44% !important;
}
