.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.bg-index{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-image:url('/modules/core/img/brand/bg_another.jpg');
	overflow-y: hidden;
	background-size: cover;
	background-repeat: none;
	background-position: top center;
}

.navbar-inverse{
	padding: 10px 0;
	background-image: none;
	background-color: #fffefd;
	border: none;
	-webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 9px 0 rgba(0,0,0,0.75);
	box-shadow: 0 0 9px 0 rgba(0,0,0,0.75);
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
	text-shadow: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a{
	color: #181101;
	-webkit-transition: color 0.4s ease; /* Safari */
	transition: color 0.4s ease;
}


.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
	color: #df9006;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #A3A3A3;
}

.index-title{
	margin-top: 20%;
	line-height: 1.1em;
	text-align: center;
	font-size: 4.5em;
	padding: 0 10%;
	color: #ffffff;
	text-shadow: 0 0 20px rgba(0,0,0,0.9);
}

.infotext{
	display: block;
	text-align: center;
	font-size: 2.5em;
	line-height: 1.1em;
	padding: 0px 30% 30px 30%;
	color: #fff;
	text-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.index-links{
	text-align: center;
}

.index-btn{
	background-color: #fffefd;
}

.index-links .index-btn:hover{
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
}

.index-links .index-btn a{
	color: #5b3f27;
}

.index-links .index-btn a:hover{
	text-decoration: none;
}

.box{
	margin: 80px auto;
	background: rgba(255,255,255,0.9);
	width: 80vw;
	padding: 15px;
}

.title{
	display: block;
	text-align: center;
	font-size: 2.5em;
	line-height: 1.1em;
	padding: 30px 30% 30px 30%;
	color: #000;
}

.col h3{
	text-align: center;
}
