<section data-ng-controller="TodosController" data-ng-init="getAll(); removeBgClass()">
    <div class="page-header">
        <h1>Todos</h1>
    </div>
    <div class="form-group">
        <label class="control-label" for="name">Add Todo</label>
        <div class="controls">
            <input type="text" data-ng-model="name" id="name" class="col-md-11 setWidth form-control" placeholder="Name" ng-keypress="($event.which === 13)?create(true):0" required>
            <button class="btn btn-default col-md-1" id="create" ng-click="create(true)">Add</button>
        </div>
    </div>
    <p class="clearfix"></p>
    <hr>
    <div class="todo-items" ng-hide="!todos.length">
      <span data-ng-repeat="todo in todos track by $index" ng-class="{'todo-order': !todo.isDone, 'todo-order-done': todo.isDone}">
        <input class="todo-input" id="{{'item' + $index}}" type="checkbox" ng-checked="todo.isDone" ng-click="setToDone($index, todo)">
        <label class="todo-label" for="{{'item' + $index}}">{{todo.name}} <i ng-show="todo.isDone" class="todo-done_small"> done by <strong>{{todo.done_by}}</strong> {{todo.done_when | date:"dd.MM.yyyy (H:mm)"}}</i></label>
      </span>

      <h2 class="todo-h2 todo-undone" aria-hidden="true">Not Done</h2>
      <h2 class="todo-h2 todo-done" aria-hidden="true">Done</h2>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="todos.length">
    	No Todos yet, why don't you <a href="/#!/todos/create">create one</a>?
    </div>
</section>
