<section data-ng-controller="ShoppinglistsController" data-ng-init="getAll(); removeBgClass()">
    <div class="page-header">
        <h1>Shopping Items</h1>
    </div>
    <div class="form-group">
        <label class="control-label" for="name">Add Item</label>
        <div class="controls">
            <input type="text" data-ng-model="name" id="name" class="col-md-11 setWidth form-control" placeholder="Name" ng-keypress="($event.which === 13)?create(true):0" required>
            <button class="btn btn-default col-md-1" id="create" ng-click="create(true)">Add</button>
        </div>
    </div>
    <p class="clearfix"></p>
    <hr>
    <div class="todo-items" ng-hide="!shoppinglists.length">
      <span data-ng-repeat="shop in shoppinglists track by $index" ng-class="{'todo-order': !shop.isDone, 'todo-order-done': shop.isDone}">
        <input class="todo-input" id="{{'item' + $index}}" type="checkbox" ng-checked="shop.isDone" ng-click="setToDone($index, shop)">
        <label class="todo-label" for="{{'item' + $index}}">{{shop.name}} <i ng-show="shop.isDone" class="todo-done_small"> done by <strong>{{shop.done_by}}</strong> {{shop.done_when | date:"dd.MM.yyyy (H:mm)"}}</i></label>
      </span>

      <h2 class="todo-h2 todo-undone" aria-hidden="true">Not buyed yet</h2>
      <h2 class="todo-h2 todo-done" aria-hidden="true">Buyed</h2>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="shoppinglists.length">
    	No item yet, why don't you create one?
    </div>
</section>
