<section data-ng-controller="PaymentsController" ng-init="removeBgClass()">
    <div class="page-header">
        <h1>New Payment</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="amount">Amount</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" min="0" step="5.00" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" data-ng-model="amount" id="amount" required />
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label" for="operation">IN/OUT</label>
                    <div class="controls">
                        <input type="radio" data-ng-model="operation" id="operation"  value="in" > + <br>
                        <input type="radio" data-ng-model="operation" id="operation"  value="out" > -
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
