<section data-ng-controller="WgsController" ng-init="removeBgClass()">
    <div class="page-header">
        <h1>Create a new flat-share</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group col-md-12 mg-30">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>

                <div class="form-group col-md-8 mg-30">
                    <label class="control-label" for="street">Street</label>
                    <div class="controls">
                        <input type="text" data-ng-model="street" id="street" class="form-control" placeholder="Street" required>
                    </div>
                </div>

                <div class="form-group col-md-4 mg-30">
                    <label class="control-label" for="number">House number</label>
                    <div class="controls">
                        <input type="text" data-ng-model="number" id="number" class="form-control" placeholder="Number" required>
                    </div>
                </div>
                <div class="form-group col-md-4 mg-30">
                    <label class="control-label" for="zip">ZIP code</label>
                    <div class="controls">
                        <input type="text" data-ng-model="zip" id="zip" class="form-control" placeholder="ZIP Code" required>
                    </div>
                </div>
                <div class="form-group col-md-8 mg-30">
                    <label class="control-label" for="city">City</label>
                    <div class="controls">
                        <input type="text" data-ng-model="city" id="city" class="form-control" placeholder="City" required>
                    </div>
                </div>
                <div class="form-group col-md-12 mg-30">
                    <label class="control-label" for="country">Country</label>
                    <div class="controls">
                        <input type="text" data-ng-model="country" id="country" class="form-control" placeholder="Country" required>
                    </div>
                </div>

                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
