<section data-ng-controller="WgsController" data-ng-init="getWg()">
    <div class="page-header">
        <h1>Passphrase</h1>
    </div>
      <div class="col-md-12">
          <div class="form-group">
            This is the current passphrase for your flat share.<br>
            Share it with your flat mates so they have access. The passphrase will change in case somebody leaves the flat share.
            <br><br>
            <label class="control-label">The current passphrase for this flat share is the following:</label>
            <br>
            <input type=text class="msg" id="passphrase" value="{{ wg.passphrase }}" readonly>

            <button class="btn btn-small btn-success pass" ng-mouseup="copyClip()">Select</button>
            <p class="notice pass"></p>
          </div>
      </div>
  </div>
</section>
