<section data-ng-controller="XtasklistsController" data-ng-init="getUsers()">
    <div class="page-header">
        <h1>New tasklist</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" validate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="start">Starting Date</label>
                    <div class="controls">
                        <input type="date" data-ng-model="start" id="start" class="form-control" placeholder="03.06.2015">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="inverval">Interval</label>
                    <div class="controls">
                        <label style="display:block"><input type="radio" data-ng-model="interval" name="interval" id="interval" value="daily"> daily</label>
                        <label style="display:block"><input type="radio" data-ng-model="interval" name="interval" id="interval" value="weekly"> weekly</label>
                        <label style="display:block"><input type="radio" data-ng-model="interval" name="interval" id="interval" value="monthly"> monthly</input></label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Select Users</label>
                    <div class="controls">
                        <label ng-repeat="u in allUsers" style="display:block">
                          <input type="checkbox" data-ng-model="u.checked"> {{ u.username }}
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Who starts?</label>
                    <div class="controls">
                        <label ng-repeat="u in allUsers" ng-if="u.checked" style="display:block">
                          <input type="radio" data-ng-model="first.name" id="first" name="first" value="{{u.username}}"> {{ u.username }}
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="create" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
