<section data-ng-controller="XtasklistsController" data-ng-init="findFromWg(); removeBgClass()">
    <div class="page-header">
        <h1>All tasks</h1>
    </div>
    <div class="list-group">
      <div data-ng-repeat="xtasklist in tasks track by $index" class="list-group-item no-pad col-md-12" ng-class="{'your-task': xtasklist.crtUser === authentication.user.username}">
      <a data-ng-href="#!/tasklists/{{xtasklist._id}}" class="col-md-12 list-item-link">
  			<small class="list-group-item-text">
  				<span ng-show="xtasklist.crtUser !== authentication.user.username">{{xtasklist.crtUser}}'s turn</span>
          <span ng-show="xtasklist.crtUser === authentication.user.username">your turn</span>
  			</small>
  			<h4 class="list-group-item-heading" data-ng-bind="xtasklist.name"></h4>
      </a>

      <span class="btn btn-default btn-list-small_before_before" ng-if="xtasklist.crtUser === authentication.user.username" ng-class="{'btn-success': xtasklist.isDone}" title="mark as done" ng-click="setToDone(xtasklist, $index)">
        <i class="glyphicon glyphicon-ok"></i>
      </span>

      <span class="btn btn-default btn-list-small_before" title="edit this task" ng-click="editByList(xtasklist._id)">
        <i class="glyphicon glyphicon-edit"></i>
      </span>

      <span class="btn btn-danger btn-list-small" title="delete this task" data-ng-click="removeByTask(xtasklist, false)">
        <i class="glyphicon glyphicon-remove"></i> Delete
      </span>
    </div>

    </div>
    <div class="alert alert-warning text-center" data-ng-hide="tasks.length">
    	No task yet, why don't you <a href="#!/tasklists/create">create one</a>?
    </div>
</section>
