<section data-ng-controller="XtasklistsController" data-ng-init="findFromWg()">
    <div class="page-header">
        <h1>All tasks</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="xtasklist in tasks" data-ng-href="#!/tasklists/{{xtasklist._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Created at
				<span data-ng-bind="xtasklist.created | date:'medium'"></span>

			</small>
			<h4 class="list-group-item-heading" data-ng-bind="xtasklist.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="tasks.length">
    	No task yet, why don't you <a href="#!/tasklists/create">create one</a>?
    </div>
</section>
