<section data-ng-controller="XtasklistsController" data-ng-init="findFromWg()">
    <div class="page-header">
        <h1>All tasks</h1>
    </div>
    <div class="list-group">
      <div data-ng-repeat="xtasklist in tasks" class="list-group-item no-pad col-md-12">
      <a data-ng-href="#!/tasklists/{{xtasklist._id}}" class="col-md-12 list-item-link">
  			<small class="list-group-item-text">
  				Created at
  				<span data-ng-bind="xtasklist.created | date:'medium'"></span>
  			</small>
  			<h4 class="list-group-item-heading" data-ng-bind="xtasklist.name"></h4>
      </a>

      <span class="btn btn-default btn-list-small_before" ng-click="editByList(xtasklist._id)">
        <i class="glyphicon glyphicon-edit"></i>
      </span>

      <span class="btn btn-danger btn-list-small" data-ng-click="removeByTask(xtasklist)">
        <i class="glyphicon glyphicon-remove"></i> Delete
      </span>
    </div>

    </div>
    <div class="alert alert-warning text-center" data-ng-hide="tasks.length">
    	No task yet, why don't you <a href="#!/tasklists/create">create one</a>?
    </div>
</section>
