<section data-ng-controller="XtasklistsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="xtasklist.name"></h1>
	</div>

	<div class="col-xs-4 col-sd-4 col-md-4 col-ld-4">
		<small>INTERVAL</small><br>
		{{xtasklist.interval}}
	</div>

	<div class="col-xs-4 col-sd-4 col-md-4 col-ld-4">
		<small>USERS</small><br>
		<span ng-repeat="user in xtasklist.users">{{user.username}}<br></span>
	</div>

	<div class="col-xs-4 col-sd-4 col-md-4 col-ld-4">
		<small>STATUS</small><br>
		<span ng-if="xtasklist.isDone">Done</span>
		<span ng-if="!xtasklist.isDone">not Done</span>
	</div>

	<div class="col-xs-12 col-sd-12 col-md-12 col-ld-12">
		<hr>
	</div>
	<div class="clearfix"></div>

	<div class="pull-right">
		<a class="btn btn-default" href="/#!/xtasklists/{{xtasklist._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-danger" ng-click="remove()">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="xtasklist.created | date:'mediumDate'"></span>
		</em>
	</small>
</section>
